<p id="notice"><%= notice %></p>

<section class="show-text-product animated fadeInLeft">
<p>
  <strong><%= t('purchaser_name') %>:</strong>
  <%= @product.purchaser_name %>
</p>

<p>
  <strong><%= t('item_description') %>:</strong>
  <%= @product.item_description %>
</p>

<p>
  <strong><%= t('item_price') %>:</strong>
  <%= @product.item_price %>
</p>

<p>
  <strong><%= t('purchase_count') %>:</strong>
  <%= @product.purchase_count %>
</p>

<p>
  <strong><%= t('merchant_address') %>:</strong>
  <%= @product.merchant_address %>
</p>

<p>
  <strong><%= t('merchant_name')%> :</strong>
  <%= @product.merchant_name %>
</p>

</section>

<div class="show-back-button-product animated shake">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
