<p id="notice"><%= notice %></p>

<section class="show-text-product animated fadeInLeft">
<p>
  <strong>Purchaser name:</strong>
  <%= @product.purchaser_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @product.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @product.item_price %>
</p>

<p>
  <strong>Purchase count:</strong>
  <%= @product.purchase_count %>
</p>

<p>
  <strong>Merchant address:</strong>
  <%= @product.merchant_address %>
</p>

<p>
  <strong>Merchant name:</strong>
  <%= @product.merchant_name %>
</p>

</section>

<div class="show-back-button-product animated shake">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
