<p id="notice"><%= notice %></p>

<p>
  <strong>Purchaser name:</strong>
  <%= @product.purchaser_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @product.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @product.item_price %>
</p>

<p>
  <strong>Purchase count:</strong>
  <%= @product.purchase_count %>
</p>

<p>
  <strong>Merchant address:</strong>
  <%= @product.merchant_address %>
</p>

<p>
  <strong>Merchant name:</strong>
  <%= @product.merchant_name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
